<html>
  <head>
    <title>Change Follower</title>
    <style>
    </style>
  </head>
  <body>
    <form action='/change/' method='POST'>
    {% csrf_token %}
    <table border="0">
        <tr>
          <th>运单号</th>
          <th>发件网点</th>
          <!--
          <th>开单时间</th>
          <th>状态</th>
          -->
          <th>跟进人</th>
          <th>异常类型</th>
          <th>客户诉求</th>
          <th>诉求时间</th>
        </tr>
        {% for num in numbers %}
          <tr>
            <td>
              <input type='checkbox' name='numbers' value="{{ num }}">
                  {{ num.number }}
              </input>
            </td>
            <td>{{ num.orig }}</td>
            <!--
            <td>{{ num.start_time }}</td>
            <td>{{ num.status }}</td>
            -->
            <td>{{ num.follower.first_name|default_if_none:'-' }}</td>
            <td>{{ num.error_type|default_if_none:"暂无" }}</td>
            <td>{{ num.detail|escape|truncatechars_html:"65" }}</td>
            <td>{{ num.detail_time|default_if_none:'暂未记录' }}</td>
          </tr>  
        {% endfor %}
    </table>
    <p>Change To User:</p>
    {% for user in users %}
      <input type="radio" name="user" value="{{ user.username }}">
      {% ifequal user.username '-' %}
        <a href="{% url 'all' %}">{{ user.first_name }}</a>
      {% else %}
        <a href="{% url 'change' user.username  %}">{{ user.first_name }}</a>
      {% endifequal %}
      </input>
    {% endfor %}
    <p><input type="submit" value="Change"></p>
    </form>
    <div id="pagintor" margin="50px 50px">
                {% for page in numbers.paginator.page_range %}
                    {% ifequal page numbers.number %}
                        {{ page }}
                    {% else %}
                        <a href="?page={{ page}}">{{ page }}</a>
                    {% endifequal %}
                {% endfor %}
     </div>
  </body>
  <script>
  </script>
</html>
